* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  margin: 20px auto;
}
.heading h1 {
  font-size: 40px;
  color: #003;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
.heading p {
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.7s ease;
}
.about-content {
  flex: 1;
}
.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #313131;
}
.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
