* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue_1: #3e64ff;
    --blue_2: #5edfff;
    --blue_3: #b2fcff;
    --blue_4: #ecfcff;
}

body {
    background-color: var(--blue_4);
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Navigation */

.adminNavigation {
    max-width: 320px;
    min-height: 100vh;
    background-color: var(--blue_1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.admin_brand {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.main_navbar {
    width: auto;
    /* height: 70vh; */
    /* background-color:aquamarine; */
    /* border-left: 2px solid var(--blue_3); */
    margin-left: 10px;
}

.admin-nav_item {
    width: 100%;
    height: 8vh;
    /* background-color: aquamarine; */
    /* padding: 10px; */
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-bottom: 5px;

}

.admin-nav_item a {
    text-decoration: none;
}

.admin_nav_icon img {
    max-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.admin_nav_name {
    max-width: 100%;
    max-height: 100vh;
    font-size: 40px;
    text-align: center;
    color: var(--blue_4);

}

.admin-nav_item:hover,
.active {
    opacity: 1;
    border-radius: 30px 0px 0px 30px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 10px 0px 0px 10px solid rgba(255, 255, 255, 0.3);
}

.nav_footer {
    margin-bottom: 15px;
    margin-left: 5px;

}

.nav_footer a {
    text-decoration: none;
}

.admin_profile {
    margin-left: 5px;
    margin-bottom: 10px;
}

.admin_nav_profile {
    margin-bottom: 10px;
}


.admin_nav_profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #5edfff solid 3px;
}

.admin_profile_name {
    font-size: 40px;
    text-align: center;
    color: var(--blue_4);
    margin-left: 10px;
}

.admin_logout {}

.admin_logout:hover {
    opacity: 1;
    border-radius: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 10px 0px 0px 10px solid rgba(255, 255, 255, 0.3);
    padding: 8px;
}

.admin_nav_icons img {
    width: 30px;
    height: 30px;
    margin-left: 80px;
    margin-right: 10px;
}

/* Admin Body */

.admin_body {
    width: 100%-320px;
    height: 100vh;
    color: white;
}

/* search */

.search {
    width: 83vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    /* background-image: url('../img/adminPanel/Logout_icon.svg'); */
    background-position: left center;
    background-repeat: no-repeat;
    /* padding-right: 70px; */
    width: 50vw;
    height: 70px;
    color: #5edfff;
    border: #3e64ff solid 3px;
    background-color: var(--blue_4);
}

input,
input::placeholder {
    font: 2rem sans-serif;
    color: var(--blue_2);
    padding-right: 30px;
    padding-left: 10px;
    align-items: center;
    border-radius: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    width: 50vw;
    height: 50px;
}

/* Card Details */

.cards {
    width: 83vw;
    height: 80vh;
    gap: 10px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);

}

.card {
    /* padding-right: 10px; */
    max-width: 20vw;
    max-height: 22vh;
    /* background-color: aqua; */
    background-color: var(--blue_4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(225, 225, 234, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card:hover {
    transform: scale(1.25) translateZ(0);
}

.card .details {
    /* background-color: #ecfcff; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 55px;
    color: var(--blue_1);
}

.card p {
    font-size: 28px;
    color: var(--blue_2);
    font-weight: bold;
}

.card_icon {
    width: 40%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.card_icon img {
    max-width: 110px;
    max-height: 110px;
}

/* ..................Admin_Athor. ...................*/

/* Table */

.table{
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 800px;
    font-family: sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
    background-color: var(--blue_2);

}

th,
td {
    
    padding: 15px;
    color: #fff;
}

th {
    text-align: left;
}

td{
    color: var(--blue_1);
}

thead th {
    background-color: var(--blue_1);
}

tbody tr:hover {
    background-color: #ffffff4d;
}