body, html {
  margin: 0; 
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
}

.container {
  margin: 0; 
  padding: 0; 
  height: 100%; 
}
.content {
  margin: 0; 
}

.background {
  background: linear-gradient(to right, #a8caf1, #fff);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 1px;
  height: 250px;
  position: relative;
  overflow: hidden; 
  
}

.title {
  width: 40%;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 60px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.search-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  max-width: 600px;
  padding-right: 10px;
}

#search-input {
  width: 250px;
  flex: 1;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 30px; 
  background: linear-gradient(to right, #c5d5f3, #97c1f1); 
  transition: background-color 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none; 
}

#search-input:focus {
  background-color: #fff; 
  border: 2px solid #121213; 
}

#search-btn {
  margin-left: 2px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
}

#search-btn:hover {
  background-color: #0056b3; 
  transform: translateY(-2px) scale(1.05); 
}



#search-btn:active {
  transform: translateY(1px); 
}

#search-input,
#search-btn {
  margin-bottom: 10px;
}


#search-input:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



.card-container {
   margin:0;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%; 
  margin-bottom: 40px;
  margin-right: 20px;
  padding: 15px; 
  border-radius: 12px; 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  position: relative; 
  overflow: hidden; 
}
  .card:hover{
    box-shadow: 0 6px 10px #a8caf1;
    background-color: #cee5f5;
    
  }
  
  .card .book {
    display: block;
    margin-bottom: 1px;
    height: 80px;
    width: 60px;
    margin-right: 5px; 
    transition: transform 0.3s ease; 
}

.card .book:hover {
    transform: scale(1.5); 
}

.card h2,
.card .price,
.card h4,
.card .rating,
.card button {
    
    margin: 0 50px; 
}
  .card h2 {
    
    flex: 1; 
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .card h4 {
    margin-left: auto;
  }
   
  .card p {
    margin-bottom: 10px;
   
  }
  .card .date{
    color: #918f8f;
    margin-left: 40px;
  }
  .price {
    font-weight: bold;
    font-size: larger;
    color: #007bff; 
  }
  
  .card button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .card .cart {
    width: 40px; 
    
  }

.cart:hover {
    opacity: 0.8;
}
.rating {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px; 
  position: relative;
}


.points {
  font-weight: bold;
  font-size: large;
  color: #1a5fe0; 
  margin-left: 5px; 
  position: relative; 
}


.filter {
  background-color: #e3f4ff;
  height: 100%;
  width: 250px;
  min-height: auto; 
  padding: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  transition: box-shadow 0.3s ease; 
}

.filter:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.filter h1 {
  margin-bottom: 30px;
  margin-top: 10px; 
  font-size: 24px;
}
.filter h3{
  color:#1a5fe0;
}

.container{
  height: 300vh;
  margin-left: 5px;
}

.category {
  color: blue; 
  font-size: 16px; 
  border: 1px solid #83c0f8; 
  border-radius: 5px; 
  padding: 5px; 
  width: 200px; 
  margin-bottom: 30px;
}

.category option[value=""] {
  color: blue; 
}


.category:focus {
  outline: none; 
  box-shadow: 0 0 5px blue; 
}

.category option {
  color: blue; 
}


.filterByDate {
  margin-bottom: 30px;
}

.filterByDate label {
  margin-right: 10px;
  color: #4195ee;
}

.filterByDate input[type="date"] {
  padding: 8px;
  border: 1px solid #83c0f8;
  border-radius: 5px;
  outline: none;
}

.filterByRating {
  margin-bottom: 30px;
}


.filterByRating input[type="checkbox"] {
  margin-right: 5px;
}

.filterBySize {
  margin-bottom: 30px;
}

.filterBySize label {
  margin-right: 10px;
  color:#4195ee ;
}

.filterBySize input[type="checkbox"] {
  margin-right: 5px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #83c0f8;
  border-radius: 3px; 
  position: relative; 
}

input[type="radio"]:checked {
  background-color: #007bff; 
}

input[type="radio"]:checked::before {
  content: '\2714'; 
  font-size: 14px; 
  color: white; 
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

#priceFilter {
  color: blue; 
  margin-bottom: 30px;
  font-size: 16px; 
  border: 1px solid #83c0f8; 
  border-radius: 5px; 
  padding: 5px; 
  width: 200px; 
  background-color: #fff; 
}

#priceFilter option[value=""] {
  color: blue; 
}

#priceFilter option {
  color: blue; 
  background-color: #f0f0f0; 
}

#priceFilter:focus {
  outline: none; 
  box-shadow: 0 0 5px blue; 
}

.filter-icon {
  margin-bottom: 30px;
  margin-right: 10px; 
  width: 50px; 
  height: auto; 
}

#startDate,
#endDate {
  color: blue; 
  font-size: 16px; 
  border: 1px solid #83c0f8; 
  border-radius: 5px; 
  padding: 5px; 
  width: 180px; 
}
#endDate{
  margin-left: 20px;
}

.filterByDate label {
  margin-right: 10px; 
}
.filterByDate label,
.filterByRating label,
.filterBySize label {
  color: #0f12c5; 
  margin-bottom: 5px; 
}
h3 {
  font-family: Arial, sans-serif; 
  font-size: 20px; 
  color: #0518c9; 
  
}
@media only screen and (max-width: 600px) {
  .background {
    height: auto; 
    padding: 10px; 
  }
  
  .container {
    flex-direction: column;
    align-items: center; 
  }

  .search-container {
    margin-top: 20px; 
    max-width: none; 
    justify-content: center; 
  }

  #search-input {
    width: calc(100% - 40px); 
  }

  #search-btn {
    margin-left: 10px; 
  }

  .filter {
    width: calc(100% - 40px); 
    padding: 20px; 
    border-radius: 12px; 
  }

  .card {
    width: calc(100% - 40px); 
    margin-bottom: 20px; 
    border-radius: 12px; 
  }

  .filterByDate,
  .filterByRating,
  .filterBySize {
    margin-bottom: 20px; 
}
}