body{
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:1fr 10fr;
    grid-gap: 2cqw;
    max-height: 95cqh;

}




.cardContainer{
    display:grid;
    justify-items: center;
    overflow:scroll;
    grid-gap: 5cqw;
    max-height: 100%;
}


.book{
    display: grid;
    background-color: brown;
    grid-auto-flow: column;
    gap: 10vh;
   
}




.card{
    display:grid;
    grid-auto-flow: column;
    align-content: center;
    background-color: aqua;
    width: 100%;
    border-radius: 20px;
}

.card img{
    
  
    max-width: 20cqh;
    max-height: 50cqh;
  
 
}


input[type="checkbox"] {
    display: grid;

    max-width: 8cqh;
    max-height: 8cqh;

}


.card > *{
    display:block;
}
.price{

    display:grid;
    justify-items:center;
    align-items: center;
    background-color: darkblue;
}
.priceContainer{
    display:grid;
    justify-items:center;
    align-items: center;
    width: 100%;
    background-color: aqua;
}
.card > button {
    max-height: 40px;
}