body{
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows:1fr 10fr;
    grid-gap: 2cqw;
    max-height: 93vh;
    background-color:#ecfcff;

}

.container1{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
 

}
.card1{
    display: grid;
 
  
    background-color: #5edfff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    height: 100%;
    width: 100%;
 
}

.card1 h1{
    color:black;
    gap: 1vh;
   margin-left:9cqi;
   font-size: 3vh;
 
}

.card1 h2{

    color:black;
    gap: 1vh;
   margin-right: 20cqi;
   font-size: 3vh;
}


.card1 h3{

    color:black;
    gap: 1vh;
   margin-right:27vh;
   font-size: 3vh;
}











.container2{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
  
    margin-bottom: 1cqi ;
}
.card2{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:#3e64ff ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 100%;
    width: 100%;
 
}








.cardContainer{
    display:grid;
    justify-items: center;
    overflow:scroll;
    overflow-x: hidden;
    grid-gap: 1cqw;
    max-height: 80vh;
}


.card{
    display:grid;
    grid-auto-flow: column;
    align-content: center;
    background-color: #b2fcff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    width:100%;
    border-radius: 20px;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
   

}


.card:hover{

    background-color: #3e64ff;
}










.card > img{
margin-left: 10vh;
 max-height:10cqi;
 gap: 1vh;
 padding-left: 5vh;


}









 .card >h3{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    max-width: 15vw;
    gap: 1vh;
  


 }

 .card >h4{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    max-width: 15vw;
    gap: 1vh;
  


 }








 @media (max-width: 600px) {
    .card > h3 {
      font-size: 1vh; 
      max-width: 90vw; 
    }
 }


 @media (max-width: 600px) {
    .card > h4 {
      font-size: 1vh; 
      max-width: 90vw; 
    }
}





  

 .card button {

    width: 25%;
    height:25%;
    border-radius: 50%;
    gap: 4vh;

 }
 .card > button >img{

    max-width :1cqi;
    max-height:3cqi;
   
   }
   



 .cartItems .book{
    background-color: brown;
    grid-auto-flow: row;



 }



 .price{
 
    display:grid;
    justify-items:center;
    align-items: center;
    background-color: #b2fcff;
    
}

.priceContainer:hover{

    background-color: white;
}

.priceContainer{
    display:grid;
    justify-items:center;
    align-items: center;
    height: 100cqh;
    max-width: 80cqh;
   
}
.card > button {
   
    border-radius: 50%;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ecfcff;
    padding: 20px;
}


.price {
    display: flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    height: 100%;

    

}

.priceContainer {
    background-color:#ecfcff;
    padding: 20px;
    border-radius: 8vh;
    box-shadow: 0 3vh 6vh rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400vh;
    width: 80%;
    height: 50%;
}

table {
    width: 100%;
   

}

table td {
    padding: 5vh;
    border-bottom: 1vh solid #ddd;
    font-size: 1cqi;
}

.price button {
    padding: 1cqi 2cqi;
    font-size: 3vh;
    background-color:#3e64ff;
    color:black;
    border: none;
    border-radius: 4cqi;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5edfff;
}


@media (max-width: 600px) {
    .priceContainer {
        padding: 10px;
    }

    button {
        font-size: 1cqi;
    }
}



