body {
    font-size: 28px;
  }
  
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a9a9a9;
    position:-webkit-sticky; 
    position: sticky;
    
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px #4CAF50;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0069a2;
    color:bisque;
  }
  
  .img1 {
    align-items: center;
    height: 50px;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .active1 {
    background-color: #0e4710;
    color:bisque;
  }

  .active2 {
    background-color: #1e344e;
    color:bisque;
  }
  
  