
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
                
                "b c"
                "d e";
            }
    .card1{
        grid-area: a;
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: aqua;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
        }
     

    .card2 {
        grid-area:b;
        display: grid;
        justify-items: center;
        align-items: center;
        /* background-color: aqua;/ */
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }
    .card3 {
        grid-area: c;
        display: grid;
        justify-items: center;
        align-items: center;
        /* background-color: aqua;/ */
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }
    .card4 {
        display: grid;
        justify-items: center;
        align-items: center;
        /* background-color: aqua;/ */
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }
    .card5 {
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: aqua;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        position: relative;
    }
    .button4b {
    display: inline-block;
    border-radius: 50px;
    background: linear-gradient(to top, rgb(32, 184, 108), rgb(0, 106, 92) );
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
    width: 22vw;
    height:1ovh;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
 
  .button4b span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
 
  .button4b span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
 
  .button4b:hover span {
    padding-right: 25px;
  }
 
  .button4b:hover span:after {
    opacity: 1;
    right: 0;
  }


  nav {
    list-style-type: none;
    font-size: 3cqh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b2b0b0;
    position:-webkit-sticky; 
    font-family: cursive;
    position: sticky;
    top: 0;
  }
  
  
  li {
    float: left;
    border-right: 1px #4CAF50;
  }
  
  li a {
    display: block;
    color: rgb(67, 67, 67);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #0069a2;
    color: beige;
  }
  
  .img1 {
    align-items: center;
    height: 50px;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .active1 {
    background-color: #9effa1;
    color:rgb(0, 0, 0);
  }
  
  .active2 {
    background-color: #85bcff;
    color:rgb(0, 0, 0);
  }
  .active3 {
    background-color: #dca7e7;
    color:rgb(0, 0, 0);
  }
  
  .disabled3 {
    background-color: #dca7e7;
    color:rgb(0, 0, 0);
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .disabled3:hover {
    background-color: #b2b0b0;
    color: beige;  
  }
  
  .center{
    text-align: center;
  }
  
  .hide3 {
    display: none;
    position:inherit;
    float:right;
    font-size: 3cqh;
    padding-top: 2cqh;
    font-family: cursive;
    text-shadow: 1px 1px  rgb(255, 0, 0);
  }
  
  .popup:hover + .hide3 {
    display: block;
    color: rgb(219, 45, 45);
  }
  
  

.containerSP {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(to top, #5fcaf5 , rgb(213, 246, 255) , rgb(179, 234, 239) );

}

.cardSP {
  display: grid;
  justify-items: center;
  align-items: center;
  height: fit-content;
  width: fit-content;

}

.font4{
  font-size: smaller;
  font-family:sans-serif;
  letter-spacing: 0.4vw;
  opacity: 50%;
  text-align: center;
}
.font6{
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 60%;
}
