
body {
  font-family: 'Roboto', sans-serif;
  background: 
      linear-gradient(to right, #90a2f1, #d3ddf3); 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 10px rgba(3, 27, 99, 0.993);
  max-width: 400px;
  width: 100%;
}


 
  input[type="text"]::placeholder,
  input[type="date"]::placeholder,
  input[type="pdf"]::placeholder,
  textarea::placeholder {
  color: #315ce7; 
}
    
  .title,
  .description,
  .date,
  .language,
  .pdf,
  .soft-copy-discount,
  .soft-copy-price,
  .category
  {
  width: 100%;
  padding: 10px; 
  margin-bottom: 1px; 
  border: 2px solid #5b8cf7; 
  color: rgb(31, 98, 175);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px; 
  background-color: rgb(201, 224, 253);
  }
  .title{
    margin-top: 12px;
  }
  
  
    .create {
    background-color: #2f50c9;
    border: none;
    width: 200px;
    height: 30px;
    font-size: 19px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 110px;
    color: #d9d9d9;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
  
    }
    
   .create:hover{
      border:3px solid rgb(44, 44, 231);
      color:#000000;
      background-color:rgb(215, 225, 236);
    }

#thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin-left: 120px;
  justify-content: center;
  align-items: center;
}


.pdf {
  background-color: transparent;
  border: 2px solid #5b8cf7;
  color: rgb(31, 98, 175);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgb(201, 224, 253);
  padding: 10px;
  cursor: pointer; 
}

.pdf:hover {
  background-color: rgba(201, 224, 253, 0.5); 
}
  
    
 